<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Statistik Jenis Kelamin</h5>
        <canvas id="jenisKelaminChart"></canvas>
    </div>
</div>

<script>
    // Statistik Jenis Kelamin
    document.addEventListener('DOMContentLoaded', async () => {
        try {
            const genderResponse = await axios.get('/gender-statistics');
            const genderData = genderResponse.data;
            
            const genderCtx = document.getElementById('jenisKelaminChart').getContext('2d');
            new Chart(genderCtx, {
                type: 'bar',
                data: {
                    labels: ['Pria', 'Wanita'],
                    datasets: [{
                        label: [], // Gunakan array kosong untuk label
                        data: [genderData.pria, genderData.wanita],
                        backgroundColor: ['#36a2eb', '#ff6384'],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            display: false // Sembunyikan legenda
                        }
                    }
                }
            });
        } catch (error) {
            console.error('Error fetching gender statistics:', error);
        }
    });
</script>